##############################
## Folders                  ##
##############################
.idea
.VSCodeCounter/
__pycache__
*.pyc
result*
result
data/
*.zip
*.rar
flask_session/
test/
exp/
scripts/
*.vsdx
logs/
docs/falcon/
venv/
data_transfer_upload.py
local_config.py
scikit-learn/
playground*
buffer/
images/
.vscode/
application/views/case_utils/case_config.json
increTSNE
application/templates/test.html
