<div class="my-panel" @*style="display: none" *@>
    <div style="display: flex">
        <div id="toolbar-title" style="width: 100%; margin-left: 0; margin-right: 0;">Label Change
            <!-- <div class="custom-control custom-switch" id="switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="change_dist_mode()">
                <label class="plain-text custom-control-label" for="customSwitch1" id="switch-label">Display all</label>
            </div> -->
        </div>

    </div>
    <hr class="my-panel-seg"/>
</div>
    <div id="dist-view" class="content-container" style="height: 87.5%; margin-left: 0; margin-right: 0;">

    {#        <div id="loss-controls">#}
    {#            <button id="loss-begin-btn" type="button" class="btn btn-default" style="background-color: transparent; border-width: 0px; outline: none">#}
    {#                <span class="glyphicon glyphicon-play" style="color: #808080"></span>#}
    {#            </button>#}
    {#        </div>#}
    </div>