    <div id="toolbar-title" style="margin-top: 0;">Information</div>
    <div class="content-container">
        <div id = "info-div">
            <div class="custom-control custom-switch" id="info-control" >
              <input type="checkbox" class="custom-control-input" id="showNearestNeighbors">
              <label class="custom-control-label" for="showNearestNeighbors">Show Nearest Neighbors</label>
            </div>
            <div class="info-svg-div" data-simplebar>
                <svg id="info">
                    <g id="detail-group" opacity="1">
                        <image></image>
                        <polygon></polygon>
                    </g>
                </svg>
            </div>
        </div>
    </div>
